h1{
    color: rgb(26, 102, 173);
    text-align: center;
    margin-top: 10px;
}

h2{
    color: rgb(26, 102, 173);
    text-align: center;
}
h3{
    color: rgb(26, 102, 173);
    text-align: center;
}

h4{
    color: rgb(26, 102, 173);
    text-align: center;
}