.text{
    color: rgb(26, 102, 173);
}

ol{
    display: block;
    text-align: left;

    text-decoration: none;
}

.listdiv{
    margin: auto;
    width: 50%;
}

.btn-group button {
    background-color: rgb(26, 102, 173);
    border: 2px solid white;
    padding: 15px 15px;
    border-radius: 25px;
    color: white; /* White text */
    transition: 0.5s;
    cursor: pointer; /* Pointer/hand icon */
    width: 70%; /* Set a width if needed */
    margin: auto;
    display: block; /* Make the buttons appear below each other */
}
  
.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

  /* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41; 

}
h2{
    text-align: center;
    color: rgb(94, 90, 90);
}

div{
    margin-top: 20px;
    background-color: rgb(200, 210, 216);
    text-align: center;
    color: rgb(94, 90, 90);
    padding: 10px 10px; /* Some padding */
    border-style: solid;
    border-color:  rgb(94, 90, 90);
    border-radius: 15px;
}